@import 'variables';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


main{
    width: 100%;
    min-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    background-color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.qr-code{
    width: 90%;
}
img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.text-content-box{
    width: 80%;
    
}
.normal-text{
    color: $Grayish-blue;
    font-weight: 400;
    font-size: 15px;
}
.text-content{
    text-align: center;
}
.bolder-text{
    color: $Dark-blue;
    font-weight: 700;
    font-size: 20px;
}
@media (width < 310px){
    body{
        display: none;
    }
}    
@media (width < 400px){
    .content-box{
            width: 80%;
            min-height: 200px;     
    } 
}
@media (width > 400px){
    .content-box{
        width: 330px;
        min-height: 300px;
    }
}
